<section>
<div class="container-1">
    <article class="header">
        <img src="../../assets/logo/PPCC_New.png" class="img-logo img1" height="120px" width="150px">
        <img src="../../assets/logo/Life_logo.png" class="img-logo img2"height="120px" width="150px">   
        <img src="../../assets/gop.png" class="img-logo img3" height="120px" width="150px">
        <img src="../../assets/logo/Mask group.png" class="img-logo img4" height="120px" width="150px">  
        <img src="../../assets/logo/g20-logo.png" class="img-logo img5" height="120px" width="150px">  
    </article>
</div>
</section>
