.header{
    background-color: white;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    padding: 20px;
}
.over-header{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

}
.inner-header{
    display: flex;
    gap: 32px;
}
.logout-button{
    background-color: #E21212;
    border: none;
    padding: 10px;
    color: white;
    font-size: 15px;
}
.nav-cls{
    text-decoration: none;
    padding: 15px;
    color:#646464;
    font-size: 20px;
    font-weight: bold;
}
.logout-button{
    padding: 20px;
    width: 105px;
    padding: 11px;
    color: white;
    font-size: 18px;
}

/* .inner-container{
    width: 90%;
    margin-inline: auto;
    margin-block: 50px;
    padding: 49px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 6px 6px #f1f0f0;
    max-width: 1200px;
} */

/* .heading-cls{
    font-size: 30px;
    color: #175C1F;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 13px;
} */
/* .heading-cls-1{
  font-size: 27px;
    color: #175C1F;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-weight: bold;
    margin-top: 30px;

} */

/* .button-cls{
    padding: 22px;
    width: 200px;
    color: white;
    border: none;
    border-radius: 19px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.button-1{
    background-color: #D15F0D;
}
.button-2{
    background-color: #0E8375;
}

.button-3{
    background-color: #CF1643;
}.button-4{
    background-color: #1333A6;
} */
/* .button-grp{
    display: flex;
    justify-content: space-around;
    gap: 22px;
    margin-top: 25px;
    flex-wrap: wrap;
} */
.table-container{
background-color: white;
border-radius: 20px;
width: 90%;
margin-inline: auto;
margin-block: auto;
max-width: 1500px;
min-width: fit-content;
}
.inner-table-container{
    max-width: 1400px;
    width: 96%;
    margin: auto;
    padding: 17px;
}
/* .search-bar{
   float: right;
} */
.example{
    background-color: #F3F3F3;
    width: 294px;
    padding: 8px;
}
/* search bar */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background:#F3F3F3;
    color: #16763C;
    outline: none;
  }
  form.example ::placeholder{
    color: #16763C;
  }
  
  .text-clor{
    color: #16763C;
  }
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #F3F3F3;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
    color: #16763C;
  }
  
  form.example button:hover {
    background:#E4FFF1;;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  /* table */

  .table-class{
    margin-top: 28px;
    width: 100%;
    border-spacing: 10px;
  }
  table tr td:nth-child(odd){
    background-color:#D6FCE5;
  }
  table tr td:nth-child(even){
    background-color: #B4F6CE;
  }
  table tr th:nth-child(odd){
    background-color:#D6FCE5;
  }
  table tr th:nth-child(even){
    background-color: #B4F6CE;
  }
  tr{
    border: 2px solid white;
    text-align: center;
  }
  .imag-class{
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .image-1{
    object-fit: cover;
  }
  .res-btn{
    border: none;
    background: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
  .search-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
    @media(max-width:630px){
    .button-cls{
      width:180px
    }

  }
  @media(max-width:560px){
    .button-cls{
      width:160px
    }

  }