<app-admin-homepage></app-admin-homepage>
<section>
    <app-dashboard></app-dashboard>
   <div class="container">
        <div class="main-container-inner">
            <form [formGroup]="enablePhotoForm">
            <div class="dropdown-class">
                <div>
                    <label class="label-class">Plant Status</label>
                    <div>
                        <select class="select-option-class" formControlName="status">
                            <!-- <option [ngValue]="null" disabled selected>Select Status</option> -->
                            <option class="option-cls" value="All" >All</option>
                            <option class="option-cls" value="Alive">Alive</option>
                            <option class="option-cls" value="Dead">Dead</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label class="label-class">Region</label>
                    <div>
                        <select class="select-option-class"  (change)="getregionId($event)" formControlName="regionId">
                            <!-- <option [ngValue]="null" disabled selected>Select Region</option> -->
                            <option class="option-cls" value="All"> All</option>
                            <option class="option-cls" *ngFor="let regionData of this.region" value="{{regionData._id}}">{{regionData.regionName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div>
                    <label class="label-class">Commune/Municipality</label>
                    <div>
                        <select class="select-option-class" formControlName="communeId" >
                            <!-- <option [ngValue]="null" disabled selected>Select commune</option> -->
                            <option class="option-cls" value="All"> All</option>
                            <option class="option-cls" *ngFor="let commune of this.commune" value="{{commune._id}}">{{commune.communeName}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="button-grp">
            <button type="button" class="button-enable btn" (click)="enable()"><i class="fa"
                [ngClass]="{'fa-spin fa-spinner': isLoading}"></i>Enable Next Photo</button>
            <button type="button" class="button-disable btn" (click)="disable()"><i class="fa"
                [ngClass]="{'fa-spin fa-spinner': isLoadingdis}"></i>Disable Next Photo</button>
           </div>
        </div>
        <!-- <article>
            <div class="main-user-count">
                <h2 class="user-count">User Count</h2>
                <h3 class="count">253</h3>
            </div>
        </article> -->
    </div> 
</section>