<app-admin-homepage></app-admin-homepage>
<section style="padding-bottom: 20px;">
  <div class="container-name">
    <div class="inner-container">
      <div class="main-inner-container">
        <!-- <p class="inner-div">Plant name: <span class="answer">{{this.plantName}}</span></p> -->
        <p class="inner-div">Username: <span class="answer">{{this.userName}}</span></p>
        <p class="inner-div">Region: <span class="answer">{{this.region}}</span></p>
        <p class="inner-div">Commune/Municipality: <span class="answer">{{this.cummune}}</span></p>
        <p class="inner-div">Date&Time: <span class="answer">{{this.firstSapledDate | date: 'YYY-MM-dd'}} &
            {{this.firstSapledDate | date: 'h:mm a'}} </span></p>
        <!-- <p class="inner-div">Status: <span class="answer">{{this.plantStatus}}</span></p> -->
        <p class="inner-div">Photos: <br><span class=" images">
            <div *ngFor="let item of imageData">
              <div class="image-container">
                <img src="{{item.imageUrl}}" class="image-view">
                <i class="fa fa-close close-button" data-bs-toggle="modal" data-bs-target="#exampleModal1"></i>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Are you sure that you want to delete this Image?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" (click)="removeImage(item._id)">Yes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <!-- <div *ngFor="let item of this.imageData">
            <img src="{{item.imageUrl}}" class="image-view"><i
            class="fa fa-close"
            style="font-size: 18px;color: red;"
            (click)="removeImage(item._id,item)"
          ></i>
          </div> -->
          </span></p>
      </div>

    </div>
    <!--  -->
    <div class="second-inner-container-right">
      <div class="query-con query-view text-mes">
        <p></p>
        <ul>
          <li>{{this.queryData}}</li>
        </ul>
      </div>
      <form [formGroup]="responseForm">
        <textarea id="w3review" name="w3review" rows="10" cols="50" placeholder="Reply message" class="text-mes"
          formControlName="response"></textarea>
      </form>
      <button type="button" class="btn btn-success respond" (click)="response()"><i class="fa"
          [ngClass]="{'fa-spin fa-spinner': isLoading}"></i>Response</button>

    </div>


  </div>


</section>