<div class="header">
    <div class="over-header">
        <div class="inner-header">
            <a class="nav-cls" routerLinkActive="active" routerLink="../view-all">See All Plant</a>
            <a class="nav-cls" routerLinkActive="active" routerLink="../send-notification">Send Notification</a>
            <a class="nav-cls" routerLinkActive="active" routerLink="../next-photo">Enable Next Photo</a>
            <a class="nav-cls" routerLinkActive="active" routerLink="../next-photo-update-date">UpdateDate
                Next-Photo</a>
            <a class="nav-cls" routerLinkActive="active" routerLink="../user-query"> User Query</a>
            <a class="nav-cls" routerLinkActive="active" routerLink="../dashboard-message">Photo Gallery</a>
            <a class="nav-cls" routerLinkActive="active" routerLink="../plant-add">add-plant</a>
        </div>
        <div class="logout">
            <button type="button" class="logout-button" (click)="logout()">Logout</button>
        </div>
    </div>
</div>